.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-image: url("./icons/background-image.jpg");
  height: 100%;
  background-attachment: fixed;
  font-family: Lato, sans-serif;
}
.overlay {
  background-color: #1b2031 ;
  opacity: 0.5;
}

th {
  color: rgb(224, 225, 226);
  font-weight: 900;
  font-size: 18px;
}
td {
  color: rgb(199, 199, 199);
}
table {
  margin: 0 auto;
}
.gameDuration {
  font-weight: 600;
}