
body {
  background: #131B25;
  height: 100%;
  font-family: Lato, sans-serif;
  color: white;
}
input {
  color: white;
}

.gameDuration {
  font-weight: 600;
  text-align: center;
}
.priceInput {
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
}
.loadingState {
  height: 20px;
  border-radius: 50%;
  width: 20px;
  overflow: hidden;
  background: green;
  position: fixed;
  top: 5px;
  left: 100px;
}
.loadingState.loading {
  background-color: yellow;
}
.loadingState.error {
  background-color: red;
}
.loadingState.success {
  background-color: green;
}
.gameHourPrice {
  height: 8px;
  border-radius: 50%;
  width: 8px;
  overflow: hidden;
  margin-right: 8px;
}
.gameHourPrice.darkGreen {
  background-color: darkgreen;
}
.gameHourPrice.green {
  background-color: darkseagreen;
}
.gameHourPrice.orange {
  background-color: orange;
}
.gameHourPrice.red {
  background-color: red;
}
.gameHourPrice.yellow {
  background-color: yellow;
}
.gameHourPriceWrapper {
}

.gameWrapper.hidden {
  display: none;
}
.dlcInput {
  color: black;
  width: 190px;
}
.mainWrapper {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
}
.gameIcon {
  width: 184px;
  height: 69px;
  background: linear-gradient(45deg, rgb(59, 59, 59) 0%, rgba(0,0,0,1) 100%);;
}

.menu {
  position: fixed;
}
.packageWrapper {
  text-align: center;
}
.packageWrapper form > * {
  margin-right: 10px;
  color: black;
}

.gameWrapper {
  display: flex;
  align-items: center;
  background: #0F151C;
  margin-bottom: 15px;
  padding-right: 15px;
}

.gameInformation {
  flex-grow: 1;
  padding-left: 15px;
}

.gameName {
  font-size: 20px;
  margin-bottom: 5px;
}

.gameMinorInfo {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #586F7C;
}

.gameIndex {
  margin-right: 10px;
}

.gameDuration {
  font-size: 26px;
}

.dlcWrapper {
  margin: 10px 0;
}

.dlcWrapperHidden {
  display: none;
}

.dlc {
  display: flex;
  width: 100%;
  margin: 2px 0;
}
.dlcName {
  flex-grow: 1;
}

.options {
  display: flex;
  justify-content: space-around;
}

.options.dlcWrapperHidden {
  display: none;
}
