
body {
  background-image: url("./icons/background-image.jpg");
  height: 100%;
  background-attachment: fixed;
  font-family: Lato, sans-serif;
  color: white;
}
input {
  color: white;
}
.overlay {
  background-color: #1b2031 ;
  opacity: 0.5;
}

th {
  font-weight: 900;
  font-size: 18px;
}
td {
}
table {
  margin: 0 auto;
}
.gameDuration {
  font-weight: 600;
  text-align: center;
}
.priceInput {
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
}
.loadingState {
  height: 20px;
  border-radius: 50%;
  width: 20px;
  overflow: hidden;
  background: green;
  position: fixed;
  top: 5px;
  left: 100px;
}
.loadingState.loading {
  background-color: yellow;
}
.loadingState.error {
  background-color: red;
}
.loadingState.success {
  background-color: green;
}
.gameHourPrice {
  height: 8px;
  border-radius: 50%;
  width: 8px;
  overflow: hidden;
  margin-right: 8px;
}
.gameHourPrice.darkGreen {
  background-color: darkgreen;
}
.gameHourPrice.green {
  background-color: darkseagreen;
}
.gameHourPrice.orange {
  background-color: orange;
}
.gameHourPrice.red {
  background-color: red;
}
.gameHourPrice.yellow {
  background-color: yellow;
}
.gameHourPriceWrapper {
}
.gameWrapper {
  display: table-row;
}
.gameWrapper > * {
  display: table-cell;
  line-height: 1;
}

.gameWrapper.hidden {
  display: none;
}
.dlcInput {
  color: black;
  width: 190px;
}
.mainWrapper {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
}
.gameIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.dlcWrapperHidden {
  display: none;
}
.dlcWrapper {
  display: table-cell;
}
.menu {
  position: fixed;
}
.packageWrapper {
  text-align: center;
}
.packageWrapper form > * {
  margin-right: 10px;
  color: black;
}

.hideButton,
.dropDownPacks {
  visibility: hidden;
}
.gameWrapper:hover .hideButton,
.gameWrapper:hover .dropDownPacks {
  visibility: visible;
}